<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.4.0.js"
            integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div style="width: 100%; position: absolute; left: 50%; transform: translate(-50%, 0%); height: 100%;">
    <div class="row">

        <div class="col" style="width: 25%">

            <div class="card red" id="location_claim_card">
                <div class="card-content white-text">
                    <h3 style="text-align: center">Current claim:<br><span id="location_claim">Unknown</span></h3>
                    <h4 style="text-align: center">Multiplier: <span id="location_multiplier">x0</span></h4>
                </div>
            </div>

            <div class="card green">
                <div class="card-content white-text">
                    <span class="card-title">Owners of point</span>

                    <div id="location_owners"></div>

                </div>
            </div>

            <div class="card black">
                <div class="card-content white-text">
                    <h3 style="text-align: center"><span id="points_collected_so_far">0</span> points so far</h3>
                </div>
            </div>


        </div>

        <div class="col" style="width: 50%">

            <div class="card-panel black">
                <video id="thing" autoplay loop muted playsinline
                       src="http://dl3.webmfiles.org/big-buck-bunny_trailer.webm" style="width: 100%"></video>
            </div>


        </div>

        <div class="col" style="width: 25%">

            <div class="card green">
                <div class="card-content white-text">
                    <span class="card-title">Leaderboard</span>

                    <ol>
                        <li style="font-size: 120%">Green: 400</li>
                        <li style="font-size: 120%">Blue: 200</li>
                        <li style="font-size: 120%">Red: 200</li>
                        <li style="font-size: 120%">Yellow: 200</li>
                    </ol>
                </div>
            </div>

            <div class="card purple">
                <div class="card-content white-text">
                    <span class="card-title">People Leaderboard</span>
                    <ol>
                        <li style="font-size: 110%">Tobias Messner</li>
                        <li style="font-size: 110%">Tobias Messner</li>
                        <li style="font-size: 110%">Tobias Messner</li>
                        <li style="font-size: 110%">Tobias Messner</li>
                        <li style="font-size: 110%">Tobias Messner</li>
                        <li style="font-size: 110%">Tobias Messner</li>
                        <li style="font-size: 110%">Tobias Messner</li>
                        <li style="font-size: 110%">Tobias Messner</li>
                        <li style="font-size: 110%">Tobias Messner</li>
                        <li style="font-size: 110%">Tobias Messner</li>
                    </ol>

                </div>
            </div>

            <div class="card blue darken-4">
                <div class="card-content white-text">
                    <h6>For more info go to <a href="">scangame.zusor.org</a></h6>
                </div>
            </div>

        </div>

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>


<script>

    let pointsSoFar = 0;

    String.prototype.capitalize = function () {
        return this.charAt(0).toUpperCase() + this.slice(1);
    };


    function update() {
        $.getJSON("http://127.0.0.1:5000/get_event_smart/", function (data) {
            $("#status_field").html(data["event_type"])
        })
    }

    function setPointClaim(color) {
        $("#location_claim_card").removeClass().addClass("card").addClass(color);
        $("#location_claim").text(color.capitalize());
    }

    function setPointMultiplier(multiplier) {
        $("#location_multiplier").text("x" + multiplier)

    }

    function setPointOwners(owners) {
        $("#location_owners").find("ul").remove();
        let ul = document.createElement("ul");
        document.getElementById("location_owners").appendChild(ul);
        owners.forEach(function (item) {
            let li = document.createElement('li');
            ul.appendChild(li);
            li.innerHTML += item;
        });
    }

    function setPointPointsSoFar(points) {
        pointsSoFar = points;
    }

    function updatePoints() {
        pointsSoFar += 1;
        $("#points_collected_so_far").text(pointsSoFar);
    }

    function thingy() {
        $("#thing").attr("src", "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4")
    }
    window.setInterval(updatePoints, 1000)
    // window.setInterval(update, 1000)

</script>
</html>